<%- include( "./partials/header.ejs"); -%>
<h1>Dictionary</h1>
<form action="/" method="post">
    <input type="text" name="word" id="">
    <button><i class="fa-brands fa-searchengin"></i></button>
</form>

<%- include( "./partials/footer.ejs"); -%>